
@{
    ViewBag.Title = "AbleToDonatePlasma";
}

<div class="card" style="width: 50rem; background-color:coral; position:center;">
    <div class="card-body">
        <h4 class="card-title" style="text-align:center">Ability To Donate Plasma</h4>
        <img src="~/Pictures/aboutto.jpg" class="card-img-top" height="600" />

    </div>
</div>

