
@{
    ViewBag.Title = "Index";
}

<div class="card" style="width: 50rem; background-color:lightcyan; position:center;">
    <div class="card-body">
        <img src="~/Pictures/c1.jpg" class="card-img-top" />
        <p style="text-align:center">
            @Html.ActionLink("Click here", "AbleToDonatePlasma", "Ability", new { }, new { @class = "btn btn-success" })
        </p>
    </div>
</div>

